@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
* {
  font-family: "Nunito";
}
.header {
  top: 0;
  position: sticky;
  z-index: 1000;
}
.footer {
  bottom: 0;
  width: 100%;
  position: fixed;
}
.css-6qsuox{
  display: flex;
}
